 /* HEROE */
  
 .boton {
    background-color: $color-verde;
    text-decoration: none;
    color: $color-blanco;
    border-radius: 15px;
    border-color: $color-verde;
  
    &:hover {
      background-color: #45a049;
      color: black;
    }
  }
  
  .boton3 {
    color: $color-verde;
    border: 2px solid $color-verde;
    border-radius: 15px;
  
    &:hover {
      background-color: $color-verde;
      color: $color-blanco;
    }
  }
  
  @media (min-width: 330px) and (max-width: 1000px) {
    .imgHeroe {
      display: none;
    }
  }
  
  @media (min-width: 330px) and (max-width: 1000px) {
    .parrafo {
      font-size: 1rem;
    }
  }